POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dvdrental
DEBUG=false
KEYCLOAK_ISSUER=http://localhost:8090/realms/dvd-rental
KEYCLOAK_JWKS_URL=http://localhost:8090/realms/dvd-rental/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=dvd-rental-api
ALLOWED_ORIGINS=["http://localhost:3000"]
